.primary{
    background-color: blue;
    padding: 10px 50px;
    margin: 10px;
    color: white;
}
.secondary {
    background-color: gray;
    padding: 10px 50px;
    margin: 10px;
    color: white;
}
.danger {
    background-color: red;
    padding: 10px 50px;
    margin: 10px;
    color: white;
}